* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
body {
    display: flex;
    flex-direction: column;
}
#top-page {
    height: calc(100vh - 90px);
    width: 100%;
    color: #707070;
    display: flex;
}
#right-page {
    width: calc(100% - 230px);
    background-color: #141922;
    overflow-y: auto;
}
/************************ scrollbarrrrrrrrrrrrrrrrrrrr ************************/
/* Customized scrollbar */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 20px 20px #282828;
    border: 5px solid transparent;
    border-radius: 20px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
/************************ scrollbarrrrrrrrrrrrrrrrrrrr ************************/

footer {
    color: white;
    background-color: #282828;
    height: 90px;
    width: 100%;
    padding: 2vh 1vh;
    display: flex;
    justify-content: space-between;
}

/************************ utilities ************************/
h1 {
    font-size: 1.2rem;
    color: white;
}
h2{
    font-size: 0.9rem;
    color: white;
}
h3 {
    font-size: 0.8rem;
    text-align: center;
    color: white;
}
.w-70 {
    width: 70%;
}
.w-100 {
    width: 100%;
}
.h-15 {
    height: 1.5rem;
}
.m-bottom02 {
    margin-bottom: 0.2rem;
}
.m-bottom05 {
    margin-bottom: 0.5rem;
}
.m-bottom10 {
    margin-bottom: 1rem;
}
.m-bottom15 {
    margin-bottom: 1.5rem;
}
.m-right05 {
    margin-right: 0.5rem;
}
a {
    color: #707070;;
    text-decoration: none;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}
a:hover {
    color: white;
}
a:hover img{
    filter: brightness(2);
}
button {
    background-color: transparent;
    border: none;
    color: white;
}
button:hover {
    cursor: pointer;
}

/************************ aside ************************/
aside {
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: black;
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

/* logo section */
.logo {
    height: 6vh;
}

/* nav section */
aside nav {
    margin: 1rem 0;
}

/* playlist section */
.playlist {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.playlist ul {
    list-style-type: none;
    flex-grow: 1;
    overflow-y: auto;
}
.playlist i {
    font-size: 2rem;
}
.playlist span {
    font-size: 0.9rem;
}
.playlist a:hover i, 
.playlist a:hover span {
    color: white;
}
.playlist li a {
    margin-bottom: 0.8rem;
}

/* bottom aside section */
.download img {
    height: 1rem;
}
.profile {
    display: flex;
    align-items: center;
    border-top: 1px solid #707070;
    padding: 0.5rem 0 0;
    color: white;
    font-size: 0.8rem;
}
.profile img {
    padding: 2px;
    border-radius: 50px;
    background-color: #707070;
}

/************************ right-page ************************/
/* header */
header {
    width: inherit;
    height: 90px;
    position: fixed;
    left: 230px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 10;
}
.btn {
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    margin-right: 2rem;
    transition: 0.5s;
}
.btn:hover {
    transform: scale(1.1);
}

/* main - contenuto della pagina */
main {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
}
main ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
main nav a {
    text-transform: uppercase;
    margin: 0 0.5rem 1.5rem;
}
main img {
    display: block;
}
main span {
    display: inline-block;
    font-size: 0.7rem;
    text-align: center;
}
.gallery {
    display: flex;
    column-gap: 1.5vw;
}
.flex-gallery-6 {
    flex-basis: calc(100% / 6 - 1.25vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-gallery{
    position: relative;
}
#popular img {
    border-radius: 50%;
}

/* overlay and play button on hover */
.overlay {
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    cursor: pointer;
    color: white;
    display: none;
}
#popular .overlay{
    border-radius: 50%;
}
.img-gallery:hover .overlay {
    display: block;
}
.overlay button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay i {
    font-size: 2rem;
    transition: 0.5s;
}
.overlay:hover i {
    transform: scale(1.5);
}

/************************ footer ************************/
.lateral-foot {
    width: 220px;
    display: flex;
    align-items: center;
}
.lateral-foot i {
    font-size: 0.8rem;
    margin-right: 1vw;
}
i.m0 {
    margin: 0;
}
.lateral-foot i:hover {
    color: white;
}
.central-foot {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}
.central-foot i {
    font-size: 0.8rem;
    margin: 0 1vw;
}
.circle-white{
    border-radius: 50%;
    border: 6px solid white;
    margin-left: -3px;
    display: none;
}
.player-line-small:hover .player-white-small,
.player-line-big:hover .player-white-big {
    border-color: aquamarine;
}
.player-line-small:hover .circle-white, 
.player-line-big:hover .circle-white {
    display: block;
} 

/* left side */
footer img {
    height: 100%;
    border-radius: 5px;
}
.played-song {
    display: flex;
    flex-flow: column wrap;
}
footer h4 {
    font-size: 0.7rem;
}
footer .lateral-foot span {
    font-size: 0.6rem;
    color: #707070;
}
footer .lateral-foot span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}
.like-folder {
    margin-left: 1vw;
    display: flex;
    flex-wrap: wrap;
}
.like-folder i {
    color: #707070;
}

/* central side */
.central-up {
    display: flex;
}
#btn-play {
    font-size: 2rem;
    transition: 0.5s;
}
#btn-play:hover {
    transform: scale(1.2);
}
.central-bottom {
    display: flex;
    align-items: center;
}
.player-line-big {
    width: 35vw;
    height: 1px;
    margin: 0 2vw;
    border-radius: 5px;
    border: 1px solid #707070;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.player-white-big {
    width: 5vw;
    margin-left: -1px;
    border-radius: 5px;
    border: 1px solid white;
}

/* right side */
footer .lateral-foot:last-child {
    justify-content: flex-end;
}
.player-line-small {
    width: 10vw;
    height: 1px;
    border-radius: 5px;
    border: 1px solid #707070;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.player-white-small {
    width: 2vw;
    margin-left: -1px;
    border-radius: 5px;
    border: 1px solid white;
}