@media screen and (max-width: 1020px) {
  .gallery {
    flex-wrap: wrap;
  }
  .flex-gallery {
    flex-basis: calc(100% / 4 - 1.125vw);
  }
  #PlaySlider {
    width: 28vw;
  }
}

@media screen and (max-width: 720px) {
  .flex-gallery {
    flex-basis: calc(100% / 2 - 0.75vw);
  }
  #PlaySlider {
    width: 21vw;
  }
  .central-foot i {
    margin: 0 0.8rem;
  }
}

@media screen and (max-width: 540px) {
  aside {
    flex-basis: 60px;
    align-items: center;
    padding: 1vh;
  }
  aside .m-right05 {
    margin: 0;
  }
  aside nav {
    flex-grow: 1;
  }
  .logo {
    height: auto;
  }
  .logo img {
    margin: auto;
  }
  .download a img {
    height: auto;
    margin-left: -3.7px;
  }
  #right-page {
    width: calc(100% - 60px);
  }
  header {
    left: 60px;
  }
  .display-none {
    display: block;
  }
  .display-none-query {
    display: none;
  }
  .central-foot i {
    margin: 0 0.6rem;
  }
}